<%= render 'shared/error_messages', object: @user %>

<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :user_name, style: 'display:inline' %>
<div id='username_notification' style='display:inline'></div>
<%= f.text_field :user_name, 
onkeyup: "$.ajax('/check_user_name_uniqueness?user_name=' + document.getElementById('user_user_name').value)" %>

<%= f.label :email %>
<%= f.text_field :email %>

<%= f.label :password %>
<%= f.password_field :password %>

<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation %>
