<% provide(:title, @user.name) %>
<div class="row">
	<aside class="span4">
		<section>
			<%= render 'shared/user_info' %>
		</section>
		<section>
			<%= render 'shared/stats' %>
		</section>
	</aside>
	<div class="span8">
		<%=  render 'follow_form' if signed_in? %>
		<h3>Microposts (<%= @user.microposts.count %>)</h3>
		<% if @user.microposts.any? %>
		<ol class="microposts">
			<%= render 'shared/microposts' %>
		</ol>
		<%= will_paginate @microposts %>
		<% end %>
	</div>
</div>