<!DOCTYPE html>
<html>
	<head>
		<title><%= full_title(yield(:title)) %></title>
		<%= stylesheet_link_tag    "application", media: "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<%= render 'layouts/shim' %>
	</head>
	<body>
		<%= render 'layouts/header' %>
		<div class="container">
			<% flash.each do |key, value| %>
				<div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
			<%= yield %>
			<%= render 'layouts/footer'%>
		</div>
		<div class="container">
			<% if Rails.env.development? %>
				Params:<br>
				<%= debug(params)  %><br>
				Cookie jar:<br>
				<%= request.cookie_jar.inspect %><br>
				Authorization:<br>
				<%= request.authorization %><br>
				Original method:<br>
				<%= request.method %><br>
				Original url:<br>
				<%= request.original_url %><br>
				Request method:<br>
				<%= request.request_method %><br>
				Query params:<br>
				<%= debug(request.query_parameters) %><br>
				Request params:<br>
				<%= debug(request.request_parameters) %><br>
				Raw post:<br>
				<%= debug(request.raw_post) %><br>
			<% end %>
		</div> 
	</body>
</html>
